/* ESTILOS PÁGINA INDEX.HTML */

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.coluna {
    flex-direction: column;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: brown;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.hw-300 {
    height: 300px;
    width: 300px;
}

.tm-social {
    height: 50px;
    width: 50px;
}

/* ESTILOS PÁGINA CONTATO.HTML */

.coluna {
    display: flex;
    flex-direction: column;
}

.mb-50 {
    margin-bottom: 20px;
}

.ml-50 {
    margin-left: 50px;
}

/* ESTILOS PÁGINA MEUS AMIGOS.HTML */